<h1 style = "text-align: center; fontWeight: 650;">Edit Group Details</h1>

<br>

<div class = "card" style = "padding: 10px; background-color: #eaeaea;"> <!--Background color should be changed-->
  <%= render 'form', group: @group %>
</div>
