<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>


  <body>

    <h1 class='text-center'>This is A Scrollable Popup</h1>

    <script type="text/javascript">

    </script>









    The student ids in this group is
    <br>

    <% @Student_Groups.each do |g| %>
      <%=g.student.user.user_FirstName%>
      <br>
    <%end%>





    lets print some garbage
    <br>
    llllllllllllllld
    <br>
    data dsdsdsds
    <br>
    dsdsdsds
    <br>
    dsdsdsdssdsdsd
    <br>
    dsdsdsdssdsdsddsds
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    dsdsdsdssdsdsd
    dsdsdsdssds


  </body>




</html>
