<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
</head>


<body>

  <!--<h3 class='text-center'>Assign Students to Hospitals</h3>-->

  <script type="text/javascript">

  </script>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><h6>Student Name</h6></th>
        <th scope="col"><h6>Student Number</h6></th>
        <th scope="col"><h6>Hospital Assignment</h6></th>

      </tr>

    </thead>

    <tbody style="overflow: scroll;">
      <% @Student_Groups.each do |g| %>
      <tr>
        <td class="col-2"><%=g.student.user.user_FirstName %> <%=g.student.user.user_LastName%></td>
        <td class="col-2"><%= g.student.studentNumber %></td>

        <td class="col-2">

          <select name="hospital_drop" id="hospital_id"  class="btn btn-secondary dropdown-toggle">
            <%= options = options_from_collection_for_select(Hospital.all, 'id', 'hospital_name') %>

          </select>

        </td>
      </tr>

      <%end%>
    </tbody>

  </table>




</body>




</html>
