<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Edit Hospital</h1>
    </br>
    <%= render 'form', hospital: @hospital %>
    <br/>

    <%= link_to 'Back', hospitals_path,class: "btn btn-outline-dark" %> |
    <%= link_to 'Show', @hospital, class: "btn btn-outline-dark" %>
  </div>
</div>
