<br></br>
<div class="form_card">
  <div class="card-body">
    <h1>New Hospital</h1>
    </br>
    <%= render 'form', hospital: @hospital,class: "text-center" %>
    </br>
    <%= link_to 'Back', hospitals_path, class: "btn btn-outline-dark" %>
    </br>
  </div>
</div>
