<p hidden id="notice"><%= notice %></p>
<div class="form_card mt-2">
  <div class="card-body">
    <p>
      <h5><strong>Course:</strong></h5>
      <%= @course.CourseDescription %>
      <br> </br>
      <h5><strong>Course ID:</strong></h5>
      <%= @course.id %>
    </p>

    <%= link_to 'Back', courses_path,class:"btn btn-outline-primary" %> 
  </div>
</div>

<!--removed edit here not necessary>
